* {
	box-sizing: border-box;
}

body{
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
}

.the-header{
	text-align: center;
}

.the-header a{
	text-decoration: none;
	color: #000000;
	text-transform: uppercase;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 500;
}

.the-header a:hover{
	color: #87CEFA;
}

.the-header ul li{
	display: inline-block;
	list-style-type: none;
}

.banner{
	background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
	/*background-image: url('https://github.com/ceofvo/My-Portfolio/blob/master/img/background.jpg');
	background-color: #87CEFA;*/
	background-size: cover;
	text-align: center;
}

.banner h2{
	color: #ffffff;
    font-size: 2.5em;
	text-align: center;
    margin-bottom: 0;
	text-shadow: 1px 1px 5px;
}

.banner p{
	color: #ffffff;
	padding-bottom: 90px;
	text-align: center;
	text-shadow: 1px 1px 5px;
}

.banner-img{
	margin-top: 90px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.banner-img:hover {
  transform: scale(1.2) rotate(5deg);
}

.card{
	background: #f1f1f1;
	margin: 10px 5px;
	padding: 40px 20px;
	border-radius: 5px;
	border-bottom: 5px solid #87CEFA;
}

.card:hover{
	background: #87CEFA;
	margin: 10px 5px;
	padding: 40px 20px;
	border-radius: 5px;
	border-bottom: 5px solid #87CEFA;
	color: #ffffff;
}

.card ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card li{
	display: inline-block;
	background-color: #0e2fa7;
	padding: 10px;
	color: #ffffff;
}

.mysections{
	text-align: center;
	margin-bottom: 60px;
}

.headings {
	font-size: 2.5em;
	margin: 0;
}

.photo-container{
	background: #ffffff;
	width: 100%;
	margin: 20px;
}

.photo-container img{
	width: 100%;
}

.photo-container h3, .photo-container p{
	text-align: left;
}

.form-format{
	background: #87CEFA;
	padding: 20px 20px;
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
	margin: 90px 5px;
}

.form-input{
  padding: 15px;
  width: 100%;
  margin-bottom: 30px;
}

.form-label{
  font-size: 20px;
  color: #ffffff;
}

button {
  padding: 19px 39px 18px 39px;
  color: #ffffff;
  background-color: #2471A3;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #2471A3;
 }

footer{
	text-align: center;
	background: #87CEFA;
	color: #ffffff;
	padding-bottom: 5px;
}

footer li{
	display: inline-block;
	list-style-type: none;
	padding: 10px;
}

footer a{
	text-decoration: none;
	color: #0e2fa7;
}

footer a:hover{
	color: #ffffff;
}

/***** Responsive Designs *****/

@media screen and (min-width: 700px){

.the-header{
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: auto;
	align-items: center;

}

.the-header ul li{
	display: inline-block;
	list-style-type: none;
}
	
.nav-left{
	width: 30%;
	text-align: left;
}

.nav-right{
	width: 70%;
	text-align: right;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.card{
	background: #f1f1f1;
	width: 40%;
	margin: 75px 35px;
	padding: 40px 20px;
}

.card:hover{
	background: #87CEFA;
	width: 40%;
	margin: 75px 35px;
	padding: 40px 20px;
	color: #ffffff;
}

.photo-container{
	background: #ffffff;
	width: 30%;
	margin: 20px;
}

.photo-container img{
	width: 100%;
}

#contact{
	margin-bottom: 90px;
	margin-top: 90px;
}

.form-format{
	background: #87CEFA;
	width: 480px;
	padding: 20px 20px;
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
	margin: auto;
}

.form-input{
  padding: 15px;
  width: 100%;
  margin-bottom: 10px;
}

.form-label{
  font-size: 20px;
  color: #ffffff;
}

button {
  padding: 19px 39px 18px 39px;
  color: #ffffff;
  background-color: #2471A3;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #2471A3;
 }
	
}

.form-errors {
	color: #ff0000;
	font-size: 13px;
    margin-bottom: 10px;
}
.form-success {
    color: #155724;
    font-size: 15px;
    padding: 10px;
    background-color: #d4edda;
    border-color: #c3e6cb;
    margin-bottom: 10px;
    border-radius: 4px;
}